
body {
  font-family: 'Playfair Display', serif;
  background: url("../images/admin.jpg") no-repeat center center/cover;
  padding: 20px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
  background: #0b84e1; 
  border-radius: 10px; 
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #004579; 
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

thead th {
  background-color: #000000a2;
  color: #fff;
  padding: 12px 15px;
  text-align: left;
  border: 1px solid hsla(0, 0%, 0%, 0.61);

}

tbody tr {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  

}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}


td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  border: 1px solid hsla(0, 0%, 0%, 0.61);

}

.delete-button {
  background-color: #0b84e1;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
  background-color: #ff9d2e;
  transform: translateY(-2px);
}


.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
