body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #01061a, #1477cd);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #6c757d;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #5a6268;
}


.payment-container {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  padding: 30px;
  margin: 20px;
}

.payment-container h1 {
  color: #333;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
}

.payment-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.payment-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.payment-form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.card-input {
  position: relative;
}

.card-input input {
  align-items: center;

}

.card-icons {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  width: 40px;
  height: 25px;
}

.expiry-cvv {
  display: flex;
  justify-content: space-between;
}

.expiry-cvv div {
  flex: 1;
  margin-right: 10px;
}

.expiry-cvv div:last-child {
  margin-right: 0;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}
